---
---

@import "{{ site.theme }}";

figure {
    border: thin #c0c0c0 solid;
    display: inline-flex;
    flex-flow: column;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: smaller sans-serif;
    padding: 1rem;
    text-align: center;
}
