---
---

@import "{{ site.theme }}";

figure {
    border: thin #ddd solid;
    display: inline-flex;
    flex-flow: column;
    padding: .5rem;
    margin: auto;
    border-radius: .5rem;
    width: 15%;
}
figure:hover{
    cursor: pointer;
}

figcaption {
    background-color: #34495E;
    color: #fff;
    font: smaller sans-serif;
    padding: .5rem;
    text-align: center;
}
